$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

//----- media queries breakpoints --------------------------------------------------------------------------------------

// Extra small screen / phone
$screen-xs: 480px !default;// Small screen / tablet
$screen-sm: 768px !default;// Medium screen / desktop
$screen-md: 992px !default;// Large screen / wide desktop
$screen-lg: 1200px !default;

$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;
//----- colors --------------------------------------------------------------------------------------

$color-white: #FFF;
$color-black: #000;
$color-grayy: #DBDBDB;
$color-gray-light: #D9E0E7;
$color-blue: #106CC8;

$sidebar-width: 220px;
$font-size-h1:                    30px;
$font-size-h2:                    22px;
$font-size-h3:                    14px;
$font-size-h4:                    12px;

$font-sizes: $font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4;

@for $i from 1 through 4 {
  h#{$i}, .h#{$i}, %h#{$i} {
    font-size: nth($font-sizes, $i)
  }
}
p {
  font-size: 16px;
}

//----- global styles --------------------------------------------------------------------------------------

.md-toolbar__flex {
  flex: 1 1 auto;
}

.navbar, .panel-group .panel {
  border-radius: 0;
}

.navbar-inverse {
  background-color: #035AB0;
  border-color: #1C5EA0;
  .navbar-brand {
    color: #FFF;
  }
}

.main--aside {
  padding-left: 0 !important;
  .panel-body {
    padding: 0;
  }
  .list-group {
    margin: 0;
  }
  .list-group-item {
    border-radius: 0;
  }
}

.panel-heading, .navbar .container-fluid {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
}

header {
  @media (min-width: $screen-sm) {
    .nav {
      display: none !important;
    }
  }
}

//----- sidebar --------------------------------------------------------------------------------------
.wrapper {
  padding-left: 0;
  padding-bottom: 200px;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: $sidebar-width;
  }
}

.sidebar-brand {
  color: $color-grayy;
}

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: $color-blue;
  transition: all 0.5s ease;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$sidebar-width;
}

.navbar-brand {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $sidebar-width;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: $color-grayy;
      font-size: 16px;
      &:hover, &.active, &:focus {
        text-decoration: none;
        color: $color-white;
        background: rgba($color-white, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  .sidebar-brand {
    font-size: 18px;
    a {
      color: $color-grayy;
      &:hover {
        color: $color-white;
        background: none;
      }
    }
  }
}

.main--content {
  margin: 25px 12px;
}

@keyframes topAnimate {
  0%, 50% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-50px)
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .main--content {
    animation: topAnimate 1s ease-out;
  }
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }

  .wrapper {
    padding-left: $sidebar-width;
  }
  .main--content {
    margin: 0 25px;
  }
  header, .sidebar-wrapper {
    width: $sidebar-width;
  }
  .page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

body, .navbar-inverse .navbar-nav > li > {
  a.router-link-active {
    &, &:hover, &:focus {
      color: $color-white;
      background: rgba($color-white, 0.2);
    }
  }
}

.logo {
  font-size: 30px;
  color: #FFF;
  padding: 12px 20px;
  display: block;
  background-color: #035AB0;
  border-color: #1C5EA0;
  text-decoration: none;
  line-height: 1.1;
  &:hover, &:focus {
    text-decoration: none;
    color: $color-white
  }

}

.sidebar-nav span {
  display: inline;
}

.page-head{
  margin-top: 12px;
}

.hero-feature {
  display: flex;
  justify-content: space-between;

  &__grid{
    padding: 0 20px 4px;
    width: 30%;
    border: 1px solid #CCC;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h3 {
    text-align: center;

  }

  p {
    font-size: 14px;
    text-align: justify;
  }
}

pre.prettyprint {
  border: 1px solid #ccc !important;
  padding: 9px !important;
}
